$transition: 500ms;

.penblade-logo{
    height: 25px;
}
.purple{
    background-color: $blue;
    color: white !important;
    padding: 10px 20px !important;
    letter-spacing: 0.44px;
    transition: 500ms;
    &:hover {
      background-color:lighten($blue, 10%);
    }
}
.flex{
    display: flex;
    background-color: white !important;
}
.flex-bottom{
    display: flex;
    background-color: white !important;
    justify-content: space-between;
}
.nav-right{
    justify-content: flex-end;
}
.blue{
    color: $blue;
    padding: 10px 20px;
    letter-spacing: 0.44px;
    transition: $transition;
    &:hover {
      color:lighten($blue, 10%);
    }
}
.spacing{
    padding: 10px 25px;
}
.black{
    color: black !important;
    letter-spacing: 0.44px;
    padding: 10px 20px;
}
