@font-face{
    font-family: 'Muli-Light';
    src: font-url("Muli-Light.ttf") unquote("format('truetype')");
    font-weight: 100;
    font-style: normal;
}
@font-face{
    font-family: 'Muli-Regular';
    src: font-url("Muli-Regular.ttf") unquote("format('truetype')");
    font-weight: 400;
    font-style: normal;
}
@font-face{
    font-family: 'Muli-SemiBold';
    src: font-url("Muli-SemiBold.ttf") unquote("format('truetype')");
    font-weight: 600;
    font-style: normal;
}
@font-face{
    font-family: 'Muli-Bold';
    src: font-url("Muli-Bold.ttf") unquote("format('truetype')");
    font-weight: 800;
    font-style: normal;
}
$light: 'Muli-Light';
$regular: 'Muli-Regular';
$semi: 'Muli-SemiBold';
$bold: 'Muli-Bold';

$body: #393A3B;
