// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.banner-container {
    background-color: orange;
}
.value-points-container{
    background-color: green;
    .value-points {
        display: flex;
        justify-content: space-around;
        .value-point-header{
            display: flex;
        }
    }
    .cta-container{
        display: flex;
        justify-content: center;
    }
}
.ordering-container{
    background-color: red;
}
.testimonials-containers{
    background-color: orange;
}
.images-container{
    background-color: green;
    justify-content: space-around;
    display: flex;
}