// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.overlay-top{
    padding: 20%;
    z-index:1;
    top: 15%;
    left: 40%;
    position: relative;
    height: 75%;
    width: 145%;
    background-color: white;
    box-shadow: 4px 4px 24px 0 rgba(0,0,0,0.07);
    border-radius: 5px;
    .overlay-header-top{
        color: #20344C;
        font-size: 1.5vw;
        letter-spacing: 0.95px;
        margin-right: 35%;
        word-spacing: .5px;
    }
    .splitter-top{
        margin-top: 10%;
        margin-bottom:10%;
        margin-right: 80%;
    }
    .overlay-content-top{
        font-size: 1vw;
        letter-spacing: 0.95px;
        word-spacing: .5px;
        line-height: 32px;
    }
}

.top-banner{
    width: 100%;
}


.values{
    height: 375px;
    background-color: #FBFCFE;
    margin: 5% 0;
    padding: 0 5%;
    .value-point-container{
        display: flex;
        align-items: center;
    }
    .value-point{
        .value-point-image{
            display: flex;
            justify-content: center;
            margin-left: 5%;
            
        }
        .value-point-title{
            color: #E76042;
            font-size: 20px;
            letter-spacing: 0.95px;
            word-spacing: .5px;
            line-height: 32px;
            .image{
                margin-bottom: 3%;
                margin-left: 17%;
            }
        }
        .value-point-content{
            letter-spacing: 0.95px;
            word-spacing: .5px;
            line-height: 32px;
        }
    }
}
.request-sample{
    color: #005BC7;
    letter-spacing: 0.95px;
    word-spacing: .5px;
    margin: 0 auto;
    display: flex;
    .text{
        margin-right: 5%;
    }
}

.values-other{
    height: 375px;
    background-color: white;
    margin: 5% 0;
    padding: 0 5%;
    .value-point-container{
        display: flex;
        align-items: center;
    }
    .value-point{
        .value-point-image{
            display: flex;
            justify-content: center;
            margin-left: 5%;
            
        }
        .value-point-title{
            color: #E76042;
            font-size: 20px;
            letter-spacing: 0.95px;
            word-spacing: .5px;
            line-height: 32px;
            .image{
                margin-bottom: 3%;
                margin-left: 17%;
            }
        }
        .value-splitter{
            margin: 0 35%;
        }
        .value-point-content{
            letter-spacing: 0.95px;
            word-spacing: .5px;
            line-height: 32px;
        }
    }
}


.resources{
    display: flex;
    justify-content: center;
    align-items: center;
    .video-banner{
        border-radius: 3px;
        width: 29%;
        height: 280px;
        background-color: grey;
        .video{
            margin-top: -7%;
            margin-left: -7%;
        }
    }
    .how-to-order{
        color: white;
        border-radius: 3px;
        height: 280px;
        width: 21%;
        background-color: #E5665D;
        padding: 2%;
        .how-to-order-title{
            letter-spacing: 0.65px;
            font-size: 1.25vw;
        }
        .how-to-order-splitter{
            display: block;
            height: 1px;
            border: 0;
            border-top: 1px solid #ccc;
            margin: 1em 10em 1em 0;
            padding: 0;
        }
        .how-to-order-content{
            letter-spacing: 0.95px;
            word-spacing: .5px;
            line-height: 28px;
        }
        .order-here{
            display: flex;
            justify-content: flex-end;
            margin-top: 8%;
            .text{
                font-size: 1vw;
                letter-spacing: 0.95px;
                word-spacing: .5px;
                margin-right: 5%;
            }
        }
    }
    .resource{
        color: white;
        border-radius: 3px;
        height: 280px;
        width: 21%;
        background-color: #20344c;
        padding: 2%;
        .resource-title{
            letter-spacing: 0.65px;
            font-size: 1.25vw;
        }
        .resource-splitter{
            display: block;
            height: 1px;
            border: 0;
            border-top: 1px solid #ccc;
            margin: 1em 10em 1em 0;
            padding: 0;
        }
        .resource-content{
            letter-spacing: 0.95px;
            word-spacing: .5px;
            line-height: 28px;
        }
        .contracts{
            display: flex;
            justify-content: flex-end;
            margin-top: 28%;
            .text{
                font-size: 1vw;
                letter-spacing: 0.95px;
                word-spacing: .5px;
                margin-right: 5%;
            }
        }
    }
}
.testimonials{
    height: 400px;
    margin: 5% 0 12%;
    .col-6.accredidation{
        .comment{
            position: relative;
            left: 20%;
            z-index: 1;
            border-radius: 10px;
            box-shadow: 4px 4px 24px 0 rgba(0,0,0,0.07);
            padding: 3%;
            width: 85%;
            margin-top: 8%;
            display: flex;
            background-color: white;
            .avatar-container{
                margin-right: 3%;
            }
            .name-container{
                margin-bottom: 2%;
                display: flex;
                .name{
                    font-size: 1.3em;
                    margin-right: 5%;
                    letter-spacing: 0.95px;
                    word-spacing: .5px;
                }
                .accredidation{
                    font-size: 1.1em;
                    margin-top: 1%;
                    letter-spacing: 0.95px;
                        word-spacing: .5px;
                }
            }
            .text{
                letter-spacing: 0.95px;
                word-spacing: .5px;
            }
        }
    }
    .col-6.another-point{
        background-color: #FBFCFE;
        height: 550px;
        margin-bottom: 5%;
        padding-top: 6%;
        .comment{
            margin-top: 5%;
            padding: 0 7% 7%;
            .container-text{
                display: flex;
                .image{
                    margin-right: 3%;
                }
                .text-container{
                    .text{
                        letter-spacing: 0.95px;
                        word-spacing: .5px;
                    }
                    .comment-splitter{
                        margin-top: 5%;
                        margin-right: 30%;
                    }
                }
            }
            .link{
                display: flex;
                justify-content: flex-end;
                margin-top: -5%;
                .text{
                    margin-right: 3%;
                    color: #005BC7;
                }
            }
            
        }
        
    }
}

.case-study{
    .cut-padding{
        padding: 0px;
    }
    .group-image{
        width: 100%;
    }
    .white{
        height: 50%;
        .overlay{
            padding: 5%;
            /* Rectangle 11 Copy: */
            background: #FFFFFF;
            box-shadow: 4px 4px 24px 0 rgba(0,0,0,0.07);
            border-radius: 5px; 
            position: relative;
            top: 50%;
            left: 20%;
            height: 80%;
            width: 60%;
            .overlay-header{
                margin: 0px 0px 7% 0px;
                font-size: 2vw;
                color: #20344C;
                letter-spacing: 0.65px;
            }
            .splitter{
                margin-right: 70%;
            }
            .overlay-content{
                font-size: 1vw;
                margin-top: 7%;
                word-spacing: .5px;
                letter-spacing: 0.65px;
                line-height: 28px;
            }
        }
    }
    .orange{
        height: 50%;
        background-color: #E5665D;
    }
}

.images{
    height: 350px;
    background-color: #20344c;
    justify-content: center;
    .bottom-image{
        display: flex;
        justify-content: center;
        .image {
            background-color: #D8D8D8;
            width: 300px;
            height: 180px;
        }
    }
    
}
