<!DOCTYPE html>
<html>
  <head>
    <title>Penblades</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <span><a href="#">PenBlade</a></span>
      <span><a href="#">Features</a></span>
      <span><a href="#">Process</a></span>
      <span><a href="#">Ordering</a></span>
      <span><a href="#">Resources</a></span>
      <span><a href="#">Request Samples</a></span>
    </nav>
    <%= yield %>
    <nav>
      
      <span><a href="#">Features</a></span>
      <span><a href="#">Process</a></span>
      <span><a href="#">Ordering</a></span>
      <span><a href="#">Resources</a></span>
      <span><a href="#">News</a></span>
      <span><a href="#">Careers</a></span>
      <span><a href="#">PenBlade</a></span>
    </nav>
  </body>
</html>
