<!DOCTYPE html>
<html>
  <head>
    <title>Penblades</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header-nav">
      <div class="header-left">
        <a class="nav-links-header" href="#">PenBlade</a>
      </div>
      <div class="header-right">
        <a class="nav-links" href="#">Features</a>
        <a class="nav-links" href="#">Process</a>
        <a class="nav-links" href="#">Ordering</a>
        <a class="nav-links" href="#">Resources</a>
        <a class="nav-links" href="#">Request Samples</a>
      </div>
    </div>
    <%= yield %>
    <nav>
      
      <span><a href="#">Features</a></span>
      <span><a href="#">Process</a></span>
      <span><a href="#">Ordering</a></span>
      <span><a href="#">Resources</a></span>
      <span><a href="#">News</a></span>
      <span><a href="#">Careers</a></span>
      <span><a href="#">PenBlade</a></span>
    </nav>
  </body>
</html>
